<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'I am an instructor' %>
    <%= f.check_box :role %>
  </div>

  <!-- <div class="field">
    <%# <%= f.label :first_name %> %>
    <%# <%= f.text_field :first_name, required: true %> %>
  </div>

  <div class="field">
    <%# <%= f.label :last_name %> %>
    <%# <%= f.text_field :last_name, required: true %> %>
  </div> -->

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit "submit", class: 'btn submit' %>
<% end %>
