<% if !current_user %>
  <%= render 'layouts/logged_out' %>
<% else %>
  <%= render 'layouts/navbar_profile' %>
  <%= render 'layouts/navbar_secondary' %>

  <div class="container">
    <div class="row text-center mt-2 mb-2">
      <div class="col-12">
        <% if @user.avatar.attachment.nil? %>
          <%= image_tag('user.svg', class:'btn-block')%>
        <% else %>
          <%= image_tag(@user.avatar.service_url, class:'btn-block')%>
        <% end %>
      </div>
    </div>

    <div class="row text-center mt-1 mb-1">
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-8">swipefeedback</div>
      <div class="col-1">
        <% if current_user == @user %>
          <%= link_to image_tag('edit.png', height: 11, width: 11, class:''), user_edit_bio_url(@user) %>
        <% end %>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <div class="container mx-2">
    <div class="row mb-3">
      <div class="col-12">About Me</div>
    </div>

    <div class="row text-center">
      <div class="col-12"><%= @user.bio %></div>
    </div>

    <% if !@practices.empty? || !@specialties.empty? %>
      <div class="color-bottom-border mt-3 mb-3"></div>
    <% end %>

    <% if !@practices.empty? %>
      <div class="mt-3">
        <div class="row text-center mb-3">
          <div class="col-12"><h3>I teach</h3></div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <ul>
              <% @practices.each do |practice| %>
                <li><%= practice.practice_category.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <% if !@specialties.empty? %>
      <div class="mt-3">
        <div class="row text-center mb-3">
          <div class="col-12"><h3>I focus on</h3></div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <ul>
              <% @specialties.each do |specialty| %>
                <li><%= specialty.specialty_category.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <% if !@milestones.empty? %>
      <div class="color-bottom-border mt-3 mb-3"></div>
      <div class="timeline mt-4">
        <div class="row text-center">
          <div class="col-12"><h3>Certifications & Experience</h3></div>
        </div>
        <ul>
          <% @milestones.each do |milestone| %>
            <li>
              <div class="row text-center">
                <div class="col-1">
                  <div class="bulletgreen"></div>
                </div>
                <div class="col-2">
                  <div class="date"><%= milestone.year %></div>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                  <div class="desc"><%= milestone.milestone %></div>
                </div>
                <div class="col-1">
                  <!-- if verified -->
                    v
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if current_user.role == 0 %>
    <%= render 'layouts/footer_trainee' %>
  <% elsif current_user.role == 1 %>
    <%= render 'layouts/footer_trainer' %>
  <% end %>
<% end %>
