<% if !current_user %>
  <%= render 'layouts/navbar_profile_logged_out' %>
<% else %>
  <%= render 'layouts/navbar_profile' %>
<% end %>

<div class="container">
  <div class="row text-center">
    <div class="col-4" style="secondary-nav">
      <%= link_to user_profile_url(@user), class: "secondary-link" do %>
        <p class="my-2">PROFILE</p>
      <% end %>
    </div>
    <div class="col-4" style="secondary-nav">
      <%= link_to user_offers_url(@user), class: "secondary-link" do %>
        <p class="my-2">OFFERINGS</p>
      <% end %>
    </div>
    <div class="col-4" style="secondary-nav active">
      <%= link_to user_bio_url(@user), class: "secondary-link" do %>
        <p class="my-2">BIO</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2 text-center">
    <div class="col-12">
      <% if @user.bio_pic.attachment.nil? %>
        <%= image_tag('user.svg', class:'btn-block')%>
      <% else %>
        <%= image_tag(@user.bio_pic.service_url, class:'btn-block')%>
      <% end %>
    </div>
  </div>

  <div class="row my-1 text-center">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-8"> ● ○ ○ </div>
    <div class="col-1">
      <% if current_user == @user %>
        <%= link_to image_tag('edit.png', height: 11, width: 11, class:''), user_edit_bio_url(current_user) %>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="container mb-5">
  <% if !@user.bio.empty? %>
    <div class="row mb-2 mx-1">
      <div class="col-12"><h3>About Me</h3></div>
    </div>
    <div class="row mb-2 mx-2">
      <div class="col-12"><p><%= @user.bio %></p></div>
    </div>
  <% end %>

  <% if !@practices.empty? || !@specialties.empty? %>
    <hr>
    <!-- <div class="color-bottom-border my-2"></div> -->
  <% end %>
  <% if !@practices.empty? %>
    <div class="my-3">
      <div class="row">
        <div class="col-12"><h3>I teach</h3></div>
      </div>
      <div class="row">
        <div class="col-12">
          <% @practices.each do |practice| %>
            <div class="btn btn-sm btn-success"><%= practice.practice_category.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if !@specialties.empty? %>
    <div class="my-3">
      <div class="row">
        <div class="col-12"><h3>I focus on</h3></div>
      </div>
      <div class="row">
        <div class="col-12">
          <% @specialties.each do |specialty| %>
            <div class="btn btn-sm btn-info"><%= specialty.specialty_category.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if !@milestones.empty? %>
    <hr>
    <!-- <div class="color-bottom-border mt-3 mb-3"></div> -->
    <div class="timeline my-3">
      <div class="row mb-2">
        <div class="col-12"><h3>Certifications & Experience</h3></div>
      </div>
        <% @milestones.each do |milestone| %>
          <div class="row">
            <div class="col-1">○</div>
            <div class="col-2"><p><%= milestone.year %></p></div>
            <div class="col-7"><p><%= milestone.milestone %></p></div>
            <div class="col-1"><!-- if verified, display checkmark --></div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

<% if current_user.role == 0 %>
  <%= render 'layouts/footer_trainee' %>
<% elsif current_user.role == 1 %>
  <%= render 'layouts/footer_trainer' %>
<% end %>
