<%= render 'layouts/navbar_edit' %>
<!-- < Settings (edit trainr profile) -->
<div class="container my-5">
  <%= form_for(@user, url: { action: "update" }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/96/profile-icon.png" alt=""></img>
      </div>
      <div class="col-9">
        <div class="row mb-3">
          <div class="col-1"></div>
          <div class="col-3">
            <h6>First Name</h6>
          </div>
          <div class="col-7">
            <div>
              <%= f.text_field :first_name, placeholder: "First Name", required: true, class: "form-control no-border grey-bottom-border " %>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1"></div>
          <div class="col-3">
            <h6>Last Name</h6>
          </div>
          <div class="col-7">
            <%= f.text_field :last_name, placeholder: "Last Name", required: true, class: "form-control no-border grey-bottom-border " %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1"></div>
          <div class="col-3">
            <h6>URL</h6>
          </div>
          <div class="col-7">
            <%= f.text_field :username, placeholder: "trainr.bio/jamesjun", required: true, class: "form-control no-border grey-bottom-border" %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-1"></div>
        <div class="col-2">
          <h6>Quick Bio</h6>
        </div>
        <div class="col-9">
        <div class="row">
          <div class="col-11">
            <%= f.text_area :description, placeholder: "Max 150 characters. Try tagging studios.", rows: 5, class: "form-control"  %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-11">
        <h5>Social Links</h5>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
         <h6>Instagram</h6>
      </div>
      <div class="col-5">
        <button class="btn btn-primary btn-sm" style="font-size: 9px;border-radius: 18px;"><i class="fa fa-instagram" aria-hidden="true"></i> Connect with Instagram</button>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <h6>Website</h6>
      </div>
      <div class="col-8">
        <%= f.text_field :website_url, placeholder: "movewithjames.co", class: "form-control no-border grey-bottom-border" %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-2">
        <h6> Email </h6>
      </div>
      <div class="col-8">
        <%= f.email_field :email, placeholder: "movewithjames@gmail.com", required: true, class: "form-control no-border grey-bottom-border" %>
      </div>
      <div class="col"></div>
    </div>

    <hr>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
         <h6>Phone</h6>
       </div>
       <div class="col-8">
         <%= f.text_field :phone, placeholder: "647-809-3891", class: "form-control no-border grey-bottom-border" %>
       </div>
       <div class="col"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <h6>City/Region</h6>
      </div>
      <div class="col-8">
        <%= f.text_field :location, placeholder: "Location", class: "form-control no-border grey-bottom-border", id: :autocomplete_address  %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <h6>Upload Image</h6>
      </div>
      <div class="col-8">
        <%= f.file_field :avatar %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-3">
        <%= f.submit 'Save', class: 'btn btn-secondary' %>
      </div>
      <div class="col-8"></div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'autocomplete', 'data-turbolinks-track': 'reload' %>
