<%= render 'layouts/navbar_edit' %>
<!-- < Add/Edit Offering -->

<p class="text-primary text-center"><%= flash[:notice] %></p>
<p class="text-danger text-center"><%= flash[:alert] %></p>

<div class="container my-3" id="about">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-1">
      <div class="col-12"><%= f.label "About Me*", class: "btn-block" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-12"><%= f.text_area :bio, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
    </div>

    <%= f.hidden_field :trainer_id, value: @user.id %>

    <div class="row">
      <div class="col-12 ml-2">
        <%= f.submit 'save about me', class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="container my-3" id="practice">
  <div class="row mb-3">
    <div class="col-12">I Practice: </div>
  </div>

  <% if !@practices.empty? %>
    <ul>
      <% @practices.each do |practice| %>
        <div class="row">
          <div class="col-4">
            <li><%= practice.practice_category.name %></li>
          </div>
          <div class="col-4">
            <li>
              <%= button_to "X", { action: "destroy", id: practice.id },
              method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-danger" %>
            </li>
          </div>
        </div>
      <% end %>
    </ul>
    <div class="row">
      <div class="col-12">
        <%= form_tag user_practice_categories_url(@user), method: :post do %>
          <%= select_tag 'practice_category_id', options_from_collection_for_select(@practices, 'id', "name") %>
          <%= hidden_field_tag "user_id", @user.id %>
          <%= submit_tag "add practice area", class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container my-3" id="specialty">
  <div class="row mb-3">
    <div class="col-12">I'm Known for: </div>
  </div>

  <% if !@specialties.empty? %>
  <ul>
    <% @myspecialties.each do |specialty| %>
      <div class="row">
        <div class="col-4">
          <li><%= specialty.practice_category.name %></li>
        </div>
        <div class="col-4">
          <li>
            <%= button_to "X", { action: "destroy", id: specialty.id },
            method: :delete, data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %>
          </li>
        </div>
      </div>
    <% end %>
  </ul>
    <div class="row">
      <div class="col-12">
        <%= form_tag user_specialty_categories_url(@user), method: :post do %>
          <%= select_tag 'specialty_category_id', options_from_collection_for_select(@specialties, 'id', "name") %>
          <%= hidden_field_tag "user_id", @user.id %>
          <%= submit_tag "add specialty area", class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container my-3" id="experience">
  <div class="row mb-1">
    <div class="col-12">Certs & Experience: </div>
  </div>
  <% if !@milestones.empty? %>
    <% @milestones.each do |milestone| %>
      <%= form_for(milestone) do |x| %>
        <% if milestone.errors.any? %>
          <div id="error_explanation">
            <h5><%= pluralize(milestone.errors.count, "error") %> prohibited change!</h5>
            <ul>
              <% milestone.errors.full_messages.each do |msg| %>
                <li class="error"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-2"><%= x.select :month, 1..12 %></div>
          <div class="col-3"><%= x.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %></div>
          <div class="col-7"><%= x.text_field :milestone, placeholder: "", class: "no-border color-bottom-border btn-block" %></div>
        </div>
        <div class="row my-2">
          <div class="col-12">
            <%= x.submit "update milestone", class:"btn btn-secondary btn-sm" %>
          </div>
        </div>
        <%= button_to "X", { action: "destroy", id: milestone.id },
          method: :delete, data: { confirm: "Are you sure?" },
          class: "btn btn-danger" %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_for(@milestone) do |x| %>
    <% if @milestone.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@milestone.errors.count, "error") %> prohibited change!</h5>
        <ul>
          <% @milestone.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-2"><%= x.select :month, 1..12 %></div>
      <div class="col-3"><%= x.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %></div>
      <div class="col-7"><%= x.text_field :milestone, placeholder: "", class: "no-border color-bottom-border btn-block" %></div>
      <%= x.hidden_field :trainer_id, value: @user.id %>
    </div>
    <div class="row my-2">
      <div class="col-12">
        <%= x.submit "add milestone", class:"btn btn-secondary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
<!-- Additional elements (See form_btn.js)- added by clicking buttons above -->
