<nav class="navbar navbar-light mt-3 mb-3">
  <div class="col-3">
    <%= link_to image_tag("back.jfif", height:'13', width:'18' ), user_url(current_user) %>
  </div>
  <div class="col-6 text-center">
    <h1 class="ml-auto mr-auto my-auto branding main">Edit Profile</h1>
  </div>
  <div class="col-3"></div>
</nav>
<!-- < Settings (edit trainr profile) -->
<div class="container my-3">
  <%= form_for(@user, url: { action: "update" }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-2">
      <div class="col-12">
        <h3><b>Basic Info</b></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <p>User URL</p>
      </div>
      <div class="col-9">
        <%= f.text_field :username, placeholder: "mvmt.bio/userURL", required: true, class: "btn-block no-border grey-bottom-border" %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <p>First Name</p>
      </div>
      <div class="col-9">
        <div>
          <%= f.text_field :first_name, placeholder: "First Name", required: true, class: "btn-block no-border grey-bottom-border " %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Last Name</p>
      </div>
      <div class="col-9">
        <%= f.text_field :last_name, placeholder: "Last Name", required: true, class: "btn-block no-border grey-bottom-border " %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Headline</p>
      </div>
      <div class="col-9">
        <%= f.text_field :headline, placeholder: "e.g. Yoga Teacher", required: true, class: "btn-block no-border grey-bottom-border " %>
      </div>
    </div>

    <hr>

    <div class="row mb-2">
      <div class="col-12">
        <h3><b>Quick Profile / Bulletin</b></h3>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12"><%= f.text_area :description, placeholder: "Max 250 characters.", rows: 5, class: "btn-block", required: true %></div>
    </div>

    <hr>

    <div class="row mb-3">
      <div class="col-12">
        <h3><b>Contact Info</b></h3>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <p>City/Region</p>
      </div>
      <div class="col-9">
        <%= f.text_field :location, placeholder: "City", class: "no-border grey-bottom-border", id: :autocomplete_address  %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
         <p>Phone</p>
       </div>
       <div class="col-9">
         <%= f.text_field :phone, placeholder: "xxx-xxx-xxxx", class: "no-border grey-bottom-border" %>
       </div>
    </div>

    <div class="row">
      <div class="col-3">
        <p> Email </p>
      </div>
      <div class="col-9">
        <%= f.email_field :email, placeholder: "myemail@gmail.com", required: true, class: "no-border grey-bottom-border" %>
      </div>
    </div>


    <hr>

    <div class="row mb-3">
      <div class="col-12">
        <h3><b>Social</b></h3>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-3">
         <p>TrustFollo</p>
      </div>
      <div class="col-9">
        <%= f.text_field :instagram_url, placeholder: "http://app.trustfollo.com/checkout-link", class: "no-border grey-bottom-border" %>
        <!-- <button class="btn btn-info btn-sm" style="font-size: 9px;border-radius: 18px;"><i class="fa fa-instagram" aria-hidden="true"></i> Connect with Instagram</button> -->
      </div>
    </div>
    <div class="row mb-3">
      <p>We currently use TF to handle Booking & Payments while we build out a more ideal user experience. On your TF account, go to "Settings -> Checkout Link" Don't have an account? <%= link_to "Create Account", "https://app.trustfollo.com/auth/register" %> </p>
    </div>

    <!-- <div class="row mb-3">
      <div class="col-3">
         <p>Instagram</p>
      </div>
      <div class="col-9">
        RUBYTAG f.text_field :instagram_url, placeholder: "IG Handle excluding @", class: "no-border grey-bottom-border" RUBYTAG
        <button class="btn btn-info btn-sm" style="font-size: 9px;border-radius: 18px;"><i class="fa fa-instagram" aria-hidden="true"></i> Connect with Instagram</button>
      </div>
    </div> -->

    <div class="row mb-3">
      <div class="col-3">
        <p>Website</p>
      </div>
      <div class="col-9">
        <%= f.text_field :website_url, placeholder: "example.com", class: "no-border grey-bottom-border" %>
      </div>
    </div>


    <hr>

    <div class="row mb-3">
      <div class="col-12">
        <h3><b>Pictures</b></h3>
      </div>
    </div>

    <p class=text-center>(Try using a vertical photo for your profile pic!)</p>
    <div class="row mt-1 mb-3">
      <div class="col-4 mt-2">
        <p>Profile Picture</p>
      </div>
      <div class="col-8">
        <%= f.file_field :avatar, class: "btn-sm" %>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-4 mt-2">
        <p>Cover Photo</p>
      </div>
      <div class="col-8">
        <%= f.file_field :cover, class: "btn-sm" %>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= f.submit 'Save', class: 'btn btn-sm btn-info btn-block round-btn' %>
      </div>
      <div class="col-3"></div>
    </div>
  <% end %>
  <div class="row my-4">
    <div class="col-3"></div>
    <div class="col-6">
      <%= link_to "Log Out", destroy_user_session_url, method: :delete, class:'btn btn-sm btn-outline-info btn-block round-btn' %>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<%= javascript_include_tag 'autocomplete', 'data-turbolinks-track': 'reload' %>
