<%= render 'layouts/navbar_edit' %>
<!-- < Settings (edit trainr profile) -->
<div class="container my-5">
  <%= form_for(@user, url: { action: "update" }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-3">
        <% if @user.avatar.attachment.nil? %>
          <%= image_tag('user.svg', class:'btn-block')%>
        <% else %>
          <%= image_tag(@user.avatar.service_url, class:'btn-block')%>
        <% end %>
      </div>
      <div class="col-9">
        <div class="row mb-1 mx-2">
          <div class="col-4">
            <p>First Name</p>
          </div>
          <div class="col-7">
            <div>
              <%= f.text_field :first_name, placeholder: "First Name", required: true, class: "btn-block no-border grey-bottom-border " %>
            </div>
          </div>
        </div>
        <div class="row mb-1 mx-2">
          <div class="col-4">
            <p>Last Name</p>
          </div>
          <div class="col-7">
            <%= f.text_field :last_name, placeholder: "Last Name", required: true, class: "btn-block no-border grey-bottom-border " %>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4">
            <p>URL</p>
          </div>
          <div class="col-7">
            <%= f.text_field :username, placeholder: "trainr.bio/jamesjun", required: true, class: "btn-block no-border grey-bottom-border" %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row mb-2">
      <div class="col-12"><%= f.label "About Me*" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-12"><%= f.text_area :description, placeholder: "Max 150 characters. Try tagging studios.", rows: 5, class: "btn-block", required: true %></div>
    </div>

    <hr>

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-11">
        <h5>Social Links</h5>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
         <p>Instagram</p>
      </div>
      <div class="col-5">
        <button class="btn btn-primary btn-sm" style="font-size: 9px;border-radius: 18px;"><i class="fa fa-instagram" aria-hidden="true"></i> Connect with Instagram</button>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <p>Website</p>
      </div>
      <div class="col-8">
        <%= f.text_field :website_url, placeholder: "movewithjames.co", class: "form-control no-border grey-bottom-border" %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-2">
        <p> Email </p>
      </div>
      <div class="col-8">
        <%= f.email_field :email, placeholder: "movewithjames@gmail.com", required: true, class: "form-control no-border grey-bottom-border" %>
      </div>
      <div class="col"></div>
    </div>

    <hr>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
         <p>Phone</p>
       </div>
       <div class="col-8">
         <%= f.text_field :phone, placeholder: "647-809-3891", class: "form-control no-border grey-bottom-border" %>
       </div>
       <div class="col"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <p>City/Region</p>
      </div>
      <div class="col-8">
        <%= f.text_field :location, placeholder: "Location", class: "form-control no-border grey-bottom-border", id: :autocomplete_address  %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row mb-3">
      <div class="col"></div>
      <div class="col-2">
        <p>Upload Image</p>
      </div>
      <div class="col-8">
        <%= f.file_field :avatar %>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-3">
        <%= f.submit 'Save', class: 'btn btn-secondary' %>
      </div>
      <div class="col-8"></div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'autocomplete', 'data-turbolinks-track': 'reload' %>
