<% if !current_user %>
  <%= render 'layouts/navbar_home' %>

  <div class="container text-center">
    <p class="text-danger mb-2"><%= flash[:alert] %></p>
    <hr>
    <div class="row mb-4 mt-4">
      <div class="col-12">
        <b><p class="mt-2 mb-4">An online network dedicated to wellness.</p></b>
        <%= link_to image_tag("example.png", width: 175, height: 350), "https://www.instagram.com/mvmt.bio"%>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <p>Do you offer fitness or wellness services?</p>
      <p class=" mb-4">The world needs what you have to offer.</p>
    </div>

    <div class="row mb-2">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "Sign Up [Free]", new_user_registration_url, class:'btn btn-sm btn-info btn-block round-btn' %>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row mb-4">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "Log In", new_user_session_url, class:'btn btn-sm btn-outline-info btn-block round-btn' %>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-12">
        <p>mvmt.bio 2020</p>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>



<% else %>
  <%= render 'layouts/navbar_home' %>
  <div class="container text-center">

    <p class="text-danger my-1"><%= flash[:alert] %></p>


    <%= image_tag('lotus.png', width: 42, height: 42)%>


    <div class="row"></div>
      <p class="mt-4 mb-4 mx-5">Welcome to our first iteration of mvmt.bio!</p>
      <p class="mt-3 mb-4 mx-5">Our vision is to gather the world's network of wellness professionals.</p>
      <p class="mt-3 mb-4 mx-5">We serve to encourage the exchange of ideas & experiences for well-being.</p>
      <p class="mt-3 mb-4 mx-5">We need your input to evolve.</p>

    <div class="row mt-1 mb-1"></div>
    <div class="row mt-4 mb-5">
      <div class="col-1"></div>
      <div class="col-10">
        <%= form_tag :landing_email do %>
          <div class="form-group">
            <textarea class="form-control" placeholder="What functionality would you like to see next?" rows="5" name="comment"></textarea>
          </div>
          <%= submit_tag "Submit Feedback", class:'btn btn-sm btn-warning' %>
        <% end %>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row mt-5 my-2"></div>
    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "About Us", "http://www.instagram.com/mvmt.bio", method: :delete, class: "btn btn-sm btn-link"%>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row mt-1 mb-5">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "Log Out", destroy_user_session_url, method: :delete, class: "btn btn-sm btn-link"%>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row mb-3" </div>
  </div>

<%= render 'layouts/footer' %>
<% end %>
