<% if !current_user %>
  <%= render 'layouts/navbar_search_results_logged_out' %>
<% else %>
  <%= render 'layouts/navbar_search_results_logged_in' %>
  <% if current_user.role == 0 %>
    <%= render 'layouts/footer_trainee' %>
  <% elsif current_user.role == 1 %>
    <%= render 'layouts/footer_trainer' %>
  <% end %>
<% end %>

<div class="container text-center">
  <%= flash[:notice] %>

  <% if !params[:search].blank? %>
    <% if !@users.empty? || @studios.empty? %>
    <div class="row">
      <div class="col-12">
        <p class="text-left text-primary"><%= @users.length + @studios.length %> Result(s)</p>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="row my-3">
    <div class="col-2"></div>
      <div class="col-8">
      <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1 active" id="trainers-tab" href="#trainers" data-toggle="pill" role="tab" aria-controls="trainers" aria-selected="true">Trainrs</a>
        </li>
        <p class="nav-splitter">  ●  </p>
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1" id="studios-tab" href="#studios" data-toggle="pill" role="tab" aria-controls="studios" aria-selected="false">Studios</a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="tab-content clearfix mb-5">
    <div class="tab-pane active" id="trainers" role="tabpanel" aria-labelledby="trainers-tab">
      <div class="grey-bottom-border"></div>
      <% @users.each do |trainer| %>
        <div class="row mt-3 mx-2">
          <div class="col-2 mt-1">
            <% if trainer.avatar.attachment.nil? %>
              <%= image_tag('user.svg', height: 27, width: 27, class:'round-btn')%>
            <% else %>
              <%= image_tag(trainer.avatar.service_url, height: 27, width: 27, class:'round-btn')%>
            <% end %>
          </div>
          <div class="col-6 mx-2 text-left">
            <%= link_to user_profile_url(trainer) do %>
              <div class="row">
                <% if !trainer.first_name.nil? || !trainer.last_name.nil? %>
                  <p class=""><%= "#{trainer.first_name + ' ' + trainer.last_name}"%><br/>
                <% else %>
                  <p class="">The Nameless One<br/>
                <% end %>
                <% if !trainer.headline.nil? %>
                  <%= "#{trainer.headline}"%></p>
                <% else %>
                  Trainr</p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="col-4 my-auto text-right">
            <p class=""><%= trainer.location %></p>
          </div>
        </div>
        <div class="grey-bottom-border"></div>
      <% end %>
      <% if @users.empty? %>
        <div class="col-12">
          <p class="mt-3 mb-3">No trainers found.</p>
        </div>
      <% end %>
    </div>

    <div class="tab-pane" id="studios" role="tabpanel" aria-labelledby="studios-tab">
      <div class="grey-bottom-border"></div>
        <p class="text-center mt-2">Don't see your studio? Please <%= link_to "add now", new_studio_url %></p>
      <div class="grey-bottom-border"></div>
      <% @studios.each do |studio| %>
        <div class="row mt-3 mx-2">
          <div class="col-2 my-auto">
            <% if studio.avatar.attachment.nil? %>
              <%= image_tag('search.svg', height: 27, width: 27, class:'round-btn')%>
            <% else %>
              <%= image_tag(studio.avatar.service_url, height: 27, width: 27, class:'round-btn')%>
            <% end %>
          </div>
          <div class="col-6 my-auto text-left">
            <% if !studio.name.nil? %>
              <p class=""><%= link_to "#{studio.name}", studio_url(studio) %></p>
            <% end %>
          </div>
          <div class="col-4 my-auto text-right">
            <% if !studio.location.nil? %>
              <p class=""><%= studio.location %></p>
            <% end %>
            <% if !studio.phone.nil? %>
              <p class=""><%= studio.phone %></p>
            <% end %>
          </div>
        </div>
        <div class="grey-bottom-border"></div>
      <% end %>
      <% if @studios.empty? %>
        <div class="col-12">
          <p class="mt-3 mb-3">No studios found.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
