<% if !current_user %>
  <%= render 'layouts/navbar_search_results_logged_out' %>
<% else %>
  <%= render 'layouts/navbar_search_results_logged_in' %>
  <% if current_user.role == 0 %>
    <%= render 'layouts/footer_trainee' %>
  <% elsif current_user.role == 1 %>
    <%= render 'layouts/footer_trainer' %>
  <% end %>
<% end %>

<div class="container text-center">
  <%= flash[:notice] %>

  <% if !params[:search].blank? %>
    <% if !@users.empty? || @studios.empty? %>
    <div class="row">
      <div class="col-12">
        <p class="text-left text-primary"><%= @users.length + @studios.length %> Result(s)</p>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="row my-3">
    <div class="col-2"></div>
      <div class="col-8">
      <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1 active" id="trainers-tab" href="#trainers" data-toggle="pill" role="tab" aria-controls="trainers" aria-selected="true">Trainrs</a>
        </li>
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1" id="studios-tab" href="#studios" data-toggle="pill" role="tab" aria-controls="studios" aria-selected="false">Studios</a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="trainers" role="tabpanel" aria-labelledby="trainers-tab">
      <hr>
      <% @users.each do |trainer| %>
        <div class="row my-3 border-bottom">
          <div class="col-1"></div>
          <div class="col-2">
            <% if trainer.avatar.attachment.nil? %>
              <%= image_tag('user.svg', height: 28, width: 28, class:'')%>
            <% else %>
              <%= image_tag(trainer.avatar.service_url, height: 28, width: 28, class:'')%>
            <% end %>
          </div>
          <div class="col-1"></div>
          <div class="col-4 text-left">
            <%= link_to user_profile_url(trainer) do %>
              <div class="row">
                <% if !trainer.first_name.nil? || !trainer.last_name.nil? %>
                  <p class=""><%= "#{trainer.first_name + ' ' + trainer.last_name}"%></p>
                <% else %>
                  <p class="e">The Nameless One</p>
                <% end %>
              </div>
              <div class="row">
                <% if !trainer.headline.nil? %>
                  <p class=""><%= "#{trainer.headline}"%></p>
                <% else %>
                  <p class="e">Trainr</p>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="col-1"></div>
          <div class="col-2">
            <p class=""><%= trainer.location %></p>
          </div>
          <div class="col-1"></div>
        </div>
      <% end %>
      <% if @users.empty? %>
        <div class="col-12">
          <h4 class="mt-3 mb-3">No trainers found.</h4>
        </div>
      <% end %>
    </div>

    <div class="tab-pane" id="studios" role="tabpanel" aria-labelledby="studios-tab">
      <% @studios.each do |s| %>
        <div class="row mt-3 mb-3 pb-3 border-bottom">
          <div class="col-4 my-auto">
            <%= image_tag('search.svg', height: 64, width: 64, class:'') %>
          </div>
          <div class="col-4 my-auto">
            <h5><%= link_to s.name, studio_url(s) %></h5>
          </div>
          <div class="col-4 my-auto">
            <p class=""><%= s.location %></p>
            <p class=""><%= s.phone %></p>
          </div>
          <div class="divider"></div>
        </div>
      <% end %>
      <% if @studios.empty? %>
        <div class="col-12">
          <h4 class="mb-3">No studios found.</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
