<%= render 'layouts/navbar_registration' %>

<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="mb-5">sign up</h1>

      <%= form_for(@user, url: { action: "create" }) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li class="error"><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.email_field :email, placeholder: "Email", required: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", required: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label 'I am an instructor.' %>
          <%= f.check_box :role %>
        </div>

        <%= f.submit "Next", class: 'btn btn-primary btn-block' %>

        <div class="form-group mt-3">
          <p>Already have an account? <%= link_to "Log In", login_path %></p>
        </div>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
