<% if !current_user %>
  <%= render 'layouts/navbar_profile_logged_out' %>
<% else %>
  <%= render 'layouts/navbar_profile' %>
<% end %>

<div class="grey-bottom-border"></div>

<div class="container">
  <div class="row my-1 text-center">
    <div class="col-4" style="secondary-nav active">
      <%= link_to user_profile_url(@user), class: "secondary-link active" do %>
        <u><p class="my-2">PROFILE</p></u>
      <% end %>
    </div>
    <div class="col-4" style="secondary-nav">
      <%= link_to user_offers_url(@user), class: "secondary-link" do %>
        <p class="my-2">OFFERINGS</p>
      <% end %>
    </div>
    <div class="col-4" style="secondary-nav">
      <%= link_to user_bio_url(@user), class: "secondary-link" do %>
        <p class="my-2">BIO</p>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="container text-center">
  <div class="row">
    <div class="col-12"> -->
      <!-- change below to "image_tag(@user.cover_img_url, class: "offer-pic", height: 84, width: 226.7)"  -->
      <% if @user.cover.attachment.nil? %>
        <%= image_tag('cover.jpg', class:'cover-img btn-block') %>
      <% else %>
        <%= image_tag(@user.cover.service_url, class:'cover-img btn-block')%>
      <% end %>
    <!-- </div>
  </div>
</div> -->

<div class="container text-center">
  <div class="row">
    <div class="col-6">
      <!-- change below to "image_tag(@user.profile_img_url, class: "profile-pic")"  -->
      <% if @user.avatar.attachment.nil? %>
        <%= image_tag('profile.png', class:'profile-pic round-btn btn-block')%>
      <% else %>
        <%= image_tag(@user.avatar.service_url, class:'profile-pic round-btn btn-block')%>
      <% end %>
    </div>
    <div class="col-6">
      <% if current_user %>
        <% if current_user == @user %>
          <div class="row d-flex justify-content-end mx-1">
            <%= link_to image_tag('edit.png', height: 11, width: 11, class:'text-right'), edit_user_url(current_user) %>
          </div>
        <% end %>
      <% end %>
      <div class="row d-flex justify-content-center user-name-lg mt-3"><%= @user.first_name %></div>
      <div class="row d-flex justify-content-center user-name-lg"><%= @user.last_name %></div>
      <div class="row d-flex justify-content-center mt-2"><p><%= @user.headline %></p></div>
      <div class="row d-flex justify-content-center"><p>🏠<%= @user.location %></p></div>
      <% if !@user.website_url.empty? %>
        <div class="row d-flex justify-content-center"><%= link_to "website", "https://#{@user.website_url}", target: :_blank,  class: "btn btn-dark btn-sm btn-block mx-3" %></div>
      <% elsif !@user.instragram_url.nil? %>
        <div class="row d-flex justify-content-center"><%= link_to "instagram", "https://www.instagram.com/#{@user.instragram_url}", target: :_blank,  class: "btn btn-dark btn-sm btn-block mx-3" %></div>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 user-description"><p><%= @user.description %></p></div>
    <div class="col-1"></div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12"><i>Upcoming</i></div>
  </div>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 text-right"><u><%= link_to "Full Schedule", user_events_url(@user),  class: "footer-link" %></u></div>
  </div>
  <% if @events.empty?  %>
    <div class="row my-3">
      <div class="col-2"></div>
      <div class="col-8"><span class="schedule date"> No classes this week </span></div>
      <div class="col-2"></div>
    </div>
  <% else %>
    <% $previous_date = 0 %>
    <% @events.each do |event| %>
        <% if event.date != @previous_date %>
          <div class="row mt-1">
            <div class="col-12 text-left">
              <span class="schedule date"><%= event.date.strftime('%a %_m/%-d') %><br/></span>
            </div>
          </div>
          <% @previous_date = event.date %>
        <% end %>
        <div class="row">
          <div class="col-3 text-center"><span class="schedule time"><%= event.start_time.strftime('%l:%M %p') %></span></div>
          <div class="col-6 text-center"><span class="schedule session-name"><%= event.title %></span></div>
          <div class="col-3 text-right"><span class="schedule studio-name">
            <% if event.location[0..3] == "http" || event.location[0..4] == "https" || event.location[0..2] == "www" %>
              <%= link_to event.location.truncate(13, omission: '...'), "http://#{event.location.sub(%r!^https?://!i, '')}", target: "_blank"  %>
            <% else %>
              <%= event.location %>
            <% end %>
          </span></div>
        </div>
    <% end %>
  <% end %>

  <hr class='mb-5'>

</div>

<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
