<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-2"></div>
    <div class="col-8">

      <%= form_for(@event, url: { action: params[:action] == "edit" ? "update" : "create" }) do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h5><%= pluralize(@event.errors.count, "error") %> prohibited change!</h5>
            <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li class="error"><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.text_field :title, required: true, placeholder: "Class Title", class: "form-control no-border grey-bottom-border" %>
        </div>

        <!-- add_column :events, :location, :string -->
        <div class="form-group">
          <%= image_tag("location.png", height:'8', width:'8' ) %>
          <%= f.text_field :location, required: true, placeholder: "Studio", class: "form-control no-border" %>
        </div>

        <div class="form-group">
          <%= image_tag("date.png", height:'8', width:'8' ) %>
          <%= f.date_field :date, required: true, placeholder: Date.today, class: "form-control no-border" %>
        </div>

        <div class="form-group">
          <%= image_tag("time.png", height:'8', width:'8' ) %>
          <%= f.time_field :start_time, required: true, placeholder: Time.now, class: "form-control no-border" %>
        </div>

        <div class="form-group">
          <%= image_tag("duration.svg", height:'8', width:'8' ) %>
          <%= f.number_field :duration, required: true, placeholder: "60 Mins", class: "form-control no-border" %>
        </div>

        <div class="form-group">
          <%= f.check_box :recurring %>
          <%= f.label 'Repeat Weekly?' %>
        </div>

        <%= f.hidden_field :trainer_id, value: current_user.id %>

        <%= f.submit "Save", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
