<%= render 'layouts/navbar_weekly_schedule' %>
<!-- secondary navbar, schedule active -->

<div class="container">
  <!-- timerange selector ( This Week - Next Week ) -->
  <div class="row text-center mt-3">
    <div class="col-2"></div>
      <div class="col-8">
      <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1 active" id="this-week-tab" href="#this-week" data-toggle="pill" role="tab" aria-controls="this-week" aria-selected="true">This Week</a>
        </li>
        <p> - </p>
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1" id="next-week-tab" href="#next-week" data-toggle="pill" role="tab" aria-controls="next-week" aria-selected="false">Next Week</a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="tab-content clearfix">
    <div class="tab-pane active mb-4" id="this-week" role="tabpanel" aria-labelledby="this-week-tab">
      <% if @events.empty?  %>
        <div class="text-center mt-4 mb-4">
          <p class="schedule date"> No classes this week </p>
        </div>
      <% else %>
        <% $previous_date = 0 %>
        <% @events.each do |event| %>
            <% if event.date != @previous_date %>
              <div class="row mt-4">
                <div class="col">
                  <p class="schedule date"><%= event.date.strftime('%a %_m/%-d') %><br/></p>
                </div>
              </div>
              <% @previous_date = event.date %>
            <% end %>
            <div class="row text-center">
              <div class="col-1"></div>
              <div class="col"><p class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></p></div>
              <div class="col"><p class="schedule session-name"><%= event.title %></p></div>
              <div class="col"><p class="schedule studio-name"><%= event.location %></p></div>
              <div class="col-1"></div>
            </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane mb-4" id="next-week" role="tabpanel" aria-labelledby="next-week-tab">
      <% if @events_next_week.empty?   %>
      <div class="text-center mt-4 mb-4">
        <h4> No classes this week </h4>
      </div>
      <% else %>
        <% $previous_date = 0 %>
        <% @events_next_week.each do |event| %>
          <% if event.date != @previous_date %>
            <div class="row mt-4">
              <div class="col">
                <h4><%= event.date.strftime('%a %_m/%-d') %><br/></h4>
              </div>
            </div>
            <% @previous_date = event.date %>
          <% end %>
          <div class="row text-center">
            <div class="col-1"></div>
            <div class="col"><%= event.start_time.strftime('%l:%M%p') %></div>
            <div class="col"><%= event.title %></div>
            <div class="col"><%= event.location %></div>
            <div class="col-1"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- display timerange schedule -->

  <div class="row text-center mt-5 mb-3">
    <div class="col"></div>
    <div class="col-4">
      <% if current_user && current_user == @user %>
          <!-- change url below -->
        <p><%= link_to "Export", user_events_url(current_user), class:'btn btn-outline-primary btn-sm btn-block' %></p>
      <% end %>
    </div>
    <div class="col"></div>
    <div class="col-4">
      <% if current_user && current_user == @user %>
          <!-- change url below -->
        <%= link_to "Edit", user_events_url(current_user), class:'btn btn-primary btn-sm btn-block' %>
      <% end %>
    </div>
    <div class="col"></div>
</div>


<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
