<%= render 'layouts/navbar_weekly_schedule' %>
<!-- secondary navbar, schedule active -->

<div class="container">
  <!-- timerange selector ( This Week - Next Week ) -->
  <div class="row text-center mt-3">
    <div class="col-2"></div>
    <div class="col-8">
      <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1 active" id="this-week-tab" href="#this-week" data-toggle="pill" role="tab" aria-controls="this-week" aria-selected="true">This Week</a>
        </li>
        <p class="nav-splitter">  ●  </p>
        <li class="nav-item">
          <a class="schedule week-toggle mr-1 ml-1" id="next-week-tab" href="#next-week" data-toggle="pill" role="tab" aria-controls="next-week" aria-selected="false">Next Week</a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="tab-content clearfix">
    <div class="tab-pane active mb-4" id="this-week" role="tabpanel" aria-labelledby="this-week-tab">
      <% if @events.empty?  %>
        <div class="row text-center my-4">
          <div class="col-2"></div>
          <div class="col-8"><span class="schedule date"> No classes or workshops this week. </span></div>
          <div class="col-2"></div>
        </div>
      <% else %>
        <% @previous_date = 0 %>
        <% @events.each do |event| %>
            <% if event.date != @previous_date %>
              <div class="row mt-1">
                <div class="col-12 text-left">
                  <span class="schedule date"><%= event.date.strftime('%a %_m/%-d') %><br/></span>
                </div>
              </div>
              <% @previous_date = event.date %>
            <% end %>
            <div class="row">
              <div class="col-3 text-center"><span class="schedule time"><%= event.start_time.strftime('%l:%M %p') %></span></div>
              <div class="col-6 text-center"><span class="schedule session-name"><%= event.title %></span></div>
              <div class="col-3 text-right"><span class="schedule studio-name">
                <% if event.location[0..3] == "http" || event.location[0..4] == "https" || event.location[0..2] == "www" %>
                  <%= link_to event.location.truncate(13, omission: '...'), "http://#{event.location.sub(%r!^https?://!i, '')}", target: "_blank"  %>
                <% else %>
                  <%= event.location %>
                <% end %>
              </span></div>
            </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane mb-4" id="next-week" role="tabpanel" aria-labelledby="next-week-tab">
      <% if @events_next_week.empty?   %>
      <div class="row text-center my-4">
        <div class="col-2"></div>
        <div class="col-8"><span class="schedule date"> No classes or workshops this week. </span></div>
        <div class="col-2"></div>
      </div>
      <% else %>
        <% @previous_date = 0 %>
        <% @events_next_week.each do |event| %>
          <% if event.date != @previous_date %>
            <div class="row mt-1">
              <div class="col-12 text-left">
                <span class="schedule date"><%= event.date.strftime('%a %_m/%-d') %><br/></span>
              </div>
            </div>
            <% @previous_date = event.date %>
          <% end %>
          <div class="row">
            <div class="col-3 text-center"><span class="schedule time"><%= event.start_time.strftime('%l:%M %p') %></span></div>
            <div class="col-6 text-center"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3 text-right"><span class="schedule studio-name">
              <% if event.location[0..3] == "http" || event.location[0..4] == "https" || event.location[0..2] == "www" %>
                <%= link_to event.location.truncate(13, omission: '...'), "http://#{event.location.sub(%r!^https?://!i, '')}", target: "_blank"  %>
              <% else %>
                <%= event.location %>
              <% end %>
            </span></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- display timerange schedule -->

  <div class="row text-center mt-5 mb-3">
    <div class="col"></div>
    <div class="col-4">
      <% if current_user && current_user == @user %>
          <!-- change url below -->
        <p><%= link_to "Export", user_events_url(@user), class:'btn btn-outline-primary btn-sm btn-block' %></p>
      <% end %>
    </div>
    <div class="col"></div>
    <div class="col-4">
      <% if current_user && current_user == @user %>
          <!-- change url below -->
        <%= link_to "Edit", user_manage_events_url(@user), class:'btn btn-primary btn-sm btn-block' %>
      <% end %>
    </div>
    <div class="col"></div>
</div>


<%= render 'layouts/footer' %>
