<%= render 'layouts/navbar_manage_events' %>

<!-- select active date -->
<!-- for each event on active date -->
<div class="container">
  <div class="row text-center">
    <ul class="nav nav-pills justify-content-center"
      <div class="col-2"><p><%= Date.today.strftime('%^b') %></p></div>
      <!-- damn ruby not letting me put the href and id as variables...  -->
      <div class="col-1"><li class="nav-item active"><a data-toggle="tab" href="#tab"><%= Date.today.strftime('%a /%d') %></a></li>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab1"><%= (Date.today+1).strftime('%a /%d') %></a></li></div>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab2"><%= (Date.today+2).strftime('%a /%d') %></a></li></div>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab3"><%= (Date.today+3).strftime('%a /%d') %></a></li></div>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab4"><%= (Date.today+4).strftime('%a /%d') %></a></li></div>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab5"><%= (Date.today+5).strftime('%a /%d') %></a></li></div>
      <div class="col-1"><li class="nav-item"><a data-toggle="tab" href="#tab6"><%= (Date.today+6).strftime('%a /%d') %></a></li></div>
    </ul>
  </div>

  <div class="tab-content clearfix">
    <div id="tab" class="tab-pane fade in active">
      <% @events.each do |event| %>
        <% if event.date == Date.today %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab1" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 1) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab2" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 2) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab3" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 3) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab4" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 4) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab5" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 5) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="tab6" class="tab-pane fade">
      <% @events.each do |event| %>
        <% if event.date == (Date.today + 6) %>
          <div class="row text-center mt-3">
            <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
            <div class="col-3"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
            <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
            <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
            <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row text-center mt-5 mb-3">
  <div class="col"></div>
  <div class="col-5">
    <% if current_user && current_user == @user %>
      <%= link_to "Add a Class", new_event_url,  class: "btn btn-primary mt-5 mb-5" %>
    <% end %>
  </div>
  <div class="col"></div>
</div>
