<% if !current_user %>
  <%= render 'layouts/logged_out' %>
<% else %>
  <%= render 'layouts/navbar_manage_events' %>
  <div class="container">
    <div class="row text-center">
      <div class="col-5">
        <p>
          Week of
          <br/>
          <%= (Date.today + 7).beginning_of_week.strftime('%^b %d') %>
          <br/>
          <button onClick="decrement(<%= @week %>)"> « </button>
          <button onClick="increment(<%= @week %>)"> » </button>
        </p>
      </div>
      <div class="col-7">
        <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
          <% ((Date.today + 7).beginning_of_week..(Date.today + 7).end_of_week).each_with_index do |date, i| %>
            <li class="nav-item">
              <% if i < 1 %>
                <a class="schedule week-toggle mr-1 ml-1 active" id=<%= "day-tab" %> href=<%= "#day" %> data-toggle="pill" role="tab" aria-controls="day" aria-selected="true"><%= date.strftime('%a /%d') %></a>
              <% else %>
                <a class="schedule week-toggle mr-1 ml-1" id=<%= "day#{i}-tab" %> href=<%= "#day#{i}" %> data-toggle="pill" role="tab" aria-controls="day" aria-selected="false"><%= date.strftime('%a /%d') %></a>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-content clearfix">
      <% ((Date.today + 7).beginning_of_week..(Date.today + 7).end_of_week).each_with_index do |date, i| %>
        <% if i < 1 %>
          <div class="tab-pane active mb-4" id="day" role="tabpanel" aria-labelledby="day-tab">
        <% else %>
          <div class="tab-pane mb-4" id=<%= "day#{i}" %> role="tabpanel" aria-labelledby=<%= "day#{i}-tab" %>>
        <% end %>
        <% if @events.empty?  %>
          <%= render 'empty_events' %>
        <% else %>
          <% @events.each do |event| %>
            <% if event.date == date %>
              <%= render 'single_event', event: event %>
            <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="row text-center mt-5 mb-3">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "Add a Class", new_event_url,  class: "btn btn-sm btn-info mt-5 mb-5" %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

  <% if current_user.role == 0 %>
    <%= render 'layouts/footer_trainee' %>
  <% elsif current_user.role == 1 %>
    <%= render 'layouts/footer_trainer' %>
  <% end %>
<% end %>

<script type="text/javascript">
  function decrement(x) {
    console.log("-");
    x --;
  }
  function increment(x) {
    console.log("+");
    x ++;
  }
</script>
