<%= render 'layouts/navbar_manage_events' %>

<!-- select active date -->
<!-- for each event on active date -->

<div class="container">
  <!-- timerange selector ( This Week - Next Week ) -->
  <div class="row text-center mt-3">
    <div class="col"><p><%= Date.today.strftime('%^b') %></p></div>
    <% (Date.today..(Date.today + 6)).each do |date| %>
      <div class="col">
        <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
          <li class="nav-item">
            <a class="schedule week-toggle mr-1 ml-1 active" id="<%= date %>-tab" href="#<%= date %>" data-toggle="pill" role="tab" aria-controls="<%= date %>" aria-selected="true"><%= date.strftime('%a /%d') %></a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <% (Date.today..(Date.today + 6)).each do |date| %>
    <div class="tab-content clearfix">
      <div class="tab-pane active mb-4" id="<%= date %>" role="tabpanel" aria-labelledby="<%= date %>-tab">
        <% if @events.empty?  %>
          <div class="row text-center mt-4 mb-4">
            <div class="col"></div>
            <div class="col"><span class="schedule date"> No classes scheduled this week </span></div>
            <div class="col"></div>
          </div>
        <% else %>
          <% @events.each do |event| %>
            <% if event.date == date %>
              <div class="row text-center mt-3">
                <div class="col"></div>
                <div class="col-1"><%= image_tag('recurring.png', height: 11, width: 11, class:'') %></div>
                <div class="col"></div>
                <div class="col-2"><span class="schedule time"><%= event.start_time.strftime('%l:%M%p') %></span></div>
                <div class="col"></div>
                <div class="col-3"><span class="schedule session-name"><%= event.title %></span></div>
                <div class="col"></div>
                <div class="col-3"><span class="schedule studio-name"><%= event.location %></span></div>
                <div class="col"></div>
                <div class="col-1"><%= image_tag('edit.png', height: 11, width: 11, class:'') %></div>
                <div class="col"></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row text-center mt-5 mb-3">
  <div class="col"></div>
  <div class="col-5">
    <% if current_user && current_user == @user %>
      <%= link_to "Add a Class", new_event_url,  class: "btn btn-primary mt-5 mb-5" %>
    <% end %>
  </div>
  <div class="col"></div>
</div>
