<%= render 'layouts/navbar_manage_events' %>

<!-- select active date -->
<!-- for each event on active date -->
<div class="container">
  <ul class="nav nav-tabs">

    <li class="active"><a data-toggle="tab" href="#0"><%= Date.today.strftime('%a /%d') %></a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 3</a></li>
    <li><a data-toggle="tab" href="#menu2"><%= (Date.today+1).strftime('%a /%d') %></a></li>
    <% ((Date.today + 1)..(Date.today + 6)).each_with_index do |date, i| %>
      <li><a data-toggle="tab" href="#<%=i%>"><%= date.strftime('%a /%d') %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="0" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <% ((Date.today + 1)..(Date.today + 6)).each_with_index do |date, i| %>
      <div id="<%=i%>" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-3">
  <div class="col"></div>
  <div class="col-5">
    <% if current_user && current_user == @user %>
      <%= link_to "Add a Class", new_event_url,  class: "btn btn-primary mt-5 mb-5" %>
    <% end %>
  </div>
  <div class="col"></div>
</div>
