<!-- < Add/Edit Offering -->
<div class="container my-5">
  <%= form_for(@offer, url: { action: params[:action] == "edit" ? "update" : "create" }) do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@offer.errors.count, "error") %> prohibited change!</h5>
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-3"><%= f.label "Title*", class: "" %></div>
      <div class="col-7"><%= f.text_field :title, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
      <div class="col-1"></div>
    </div>

    <!-- Offering Type -->

    <div class="row mb-1">
      <div class="col-1"></div>
      <div class="col-10"><%= f.label "Short Description*", class: "" %></div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10"><%= f.text_area :description, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
      <div class="col-1"></div>
    </div>

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-3"><%= f.label "Duration", class: "" %></div>
      <div class="col-7"><%= f.text_field :duration, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
      <div class="col-1"></div>
    </div>

    <!-- Date/Time -->

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-3"><%= f.label "Location*", class: "" %></div>
      <div class="col-7"><%= f.text_field :location, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
      <div class="col-1"></div>
    </div>

    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-3"><%= f.label "Cost*", class: "" %></div>
      <div class="col-7"><%= f.text_field :cost, placeholder: "", class: "no-border color-bottom-border", required: true %></div>
      <div class="col-1"></div>
    </div>

    <div class="row mb-1">
      <div class="col-1"></div>
      <div class="col-10"><%= f.label "Other Info", class: "" %></div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10"><%= f.text_area :other, placeholder: "", class: "no-border color-bottom-border" %></div>
      <div class="col-1"></div>
    </div>

    <div class="row mb-1">
      <div class="col-1"></div>
      <div class="col-10"><%= f.label "Booking URL or Contact Email", class: "" %></div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10"><%= f.text_area :booking_url, placeholder: "", class: "no-border color-bottom-border" %></div>
      <div class="col-1"></div>
    </div>


    <%= f.hidden_field :trainer_id, value: current_user.id %>

    <!--

    Upload Cover photo
    Hide Offering
    Delete Offering

    -->

    <div class="row">
      <div class="col-8"></div>
      <div class="col-3">
        <%= f.submit 'Save', class: 'btn btn-secondary' %>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>
</div>
