<% if !current_user %>
  <%= render 'layouts/logged_out' %>
<% else %>
  <%= render 'layouts/navbar_profile' %>
  <%= render 'layouts/navbar_secondary' %>

  <div class="container">

    <div class="row text-center mt-5 mb-3">
      <div class="col-2"></div>
      <div class="col-8">
        <% if current_user && current_user == @user %>
          <%= link_to "+ Add New Offering", new_offer_url,  class: "btn btn-primary mt-5 mb-5" %>
        <% end %>
      </div>
      <div class="col-2"></div>
    </div>

    <% if @offers.empty? %>
      <div class="row text-center mt-4 mb-4">
        <div class="col-2"></div>
        <div class="col-8"><span class="schedule date"> No offers to show. </span></div>
        <div class="col-2"></div>
      </div>
    <% else %>
      <% @offers.each do |offer| %>
        <div class="row text-center">
          <div class="col-12">
            <figure>
              <!-- change below to "link_to image_tag(offer.cover_img_url, class: "offer-pic"), show_offer_url(offer.url)"  -->
              <%= image_tag('cover.jpg', height: 31.5, width: 85, class:'') %>
              <figcaption>
                <% if current_user && current_user == @user %>
                  <% if event.recurring == 1 %>
                    <%= image_tag('recurring.png', height: 11, width: 11, class:'') %>
                  <% end %>
                <% end %>
                <%= offer.title %>
                <% if current_user && current_user == @user %>
                  <%= link_to image_tag('edit.png', height: 11, width: 11, class:''), offer.url %>
                <% end %>
              </figcaption>
            </figure>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <% if current_user.role == 0 %>
    <%= render 'layouts/footer_trainee' %>
  <% elsif current_user.role == 1 %>
    <%= render 'layouts/footer_trainer' %>
  <% end %>
<% end %>
