<%= render 'layouts/navbar' %>
<!-- secondary navbar, offerings active -->

<div class="container text-center"><%= flash[:notice] %></div>

<div class="container">
  <% if !@offers.empty? %>
    <% @offers.each do |offer| %>
      <div class="row text-center">
        <div class="col-12">
          <figure>
            <!-- change below to "link_to image_tag(offer.coverimg_url, class: "offer-pic"), offer.url"  -->
            <%= image_tag('cover.jpg', height: 31.5, width: 85, class:'') %>
            <figcaption><%= offer.title %></figcaption>
          </figure>
        </div>
      </div>
    <% end %>
  <% elsif current_user == @user %>
    <div class="row text-center">
      <div class="col-12">
        <%= link_to "Add New Offer", new_offer_url %>
      </div>
    </div>
  <% end %>
</div>

<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
