<%= render 'layouts/navbar' %>
<!-- secondary navbar, offerings active -->

<div class="container text-center"><%= flash[:notice] %></div>

<div class="container">
  <% @offers.each do |offer| %>
    <div class="row text-center">
      <div class="col-12">
        <figure>
          <%= link_to image_tag(offer.img_url, class: "offer-pic"), offer.url %>
          <figcaption><%= offer.title %></figcaption>
        </figure>
      </div>
    </div>
  <% end %>
</div>

<% if current_user && current_user.role == "trainer" %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
