<nav class="navbar navbar-light mt-3 mb-3">
  <div class="col-3">
    <%= link_to image_tag("back.jfif", height:'13', width:'18' ), :back %>
  </div>
  <div class="col-6 text-center">
    <h1 class="title ml-auto mr-auto mt-1 my-auto"><%= @user.first_name %>'s Offerings</h1>
  </div>
  <div class="col-3"></div>
</nav>

<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <% if @offer.avatar.attachment.nil? %>
        <%= image_tag("cover.jpg", class: "btn-block") %>
      <% else %>
        <%= image_tag(@offer.avatar.service_url, class: "btn-block") %>
      <% end %>
    </div>
  </div>
  <hr>
</div>



<div class="container">
  <div class="row text-center">
    <div class="col-12"><h2><%= @offer.title %></h2></div>
  </div>
  <div class="row text-center">
    <div class="col-12"><p><%= @offer.category %></p></div>
  </div>
  <div class="row text-center">
    <div class="col-12"><p><%= @offer.description %></p></div>
  </div>

  <% if !@offer.date.nil? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Date/Time </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.date %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.expectations.blank? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> What to Expect </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.expectations %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.highlights.blank? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Highlights </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.highlights %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.duration.nil? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Duration </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.duration %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.location.nil? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Location </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.location %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.cost.nil? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Cost </h3></div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.cost %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !@offer.other.blank? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row my-1">
      <div class="col-12"><h3> Other Info </h3></div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-10">
        <p> <%= @offer.other %> </p>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <div class="row my-1">
    <div class="col-3"></div>
    <div class="col-6"><%= link_to "Contact & Book", new_event_url,  class: "btn btn-secondary btn-block" %></div>
    <div class="col-3"></div>
  </div>

</div>

<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
