<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <!-- change below to "image_tag(offer.cover_img_url, class: "offering-pic")"  -->
      <%= image_tag('cover.jpg', height: 31.5, width: 85, class:'') %>
    </div>
  </div>
</div>

<hr>

<div class="container">

  <div class="row text-center">
    <div class="col-1"></div>
    <div class="col-10">
      <h2> <%= offer.title %> </h2>
      <br/><p> <%= offer.category %> </p>
      <br/><p> <%= offer.description %> </p>
    </div>
    <div class="col-1"></div>
  </div>

  <% if !offer.date.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Date/Time </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.date %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.expectations.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> What to Expect </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.expectations %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.highlights.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Highlights </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.highlights %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.duration.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Duration </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.duration %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.location.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Location </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.location %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.cost.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Cost </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.cost %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <% if !offer.other.empty? %> <!-- if it exists/isTrue (if it contains valuable data instead of loose pointer)-->
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2> Other Info </h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p> <%= offer.other %> </p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>

  <%= link_to "Contact & Book", booking_url,  class: "btn btn-secondary mt-5 mb-5" %>
</div>

<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
