<div class="row mb-5">
  <div class="col-2"></div>
  <div class="col-8">
    <%= form_for(@studio, url: { action: params[:action] == "edit" ? "update" : "create" }) do |f| %>
      <% if @studio.errors.any? %>
        <div id="error_explanation">
          <h5><%= pluralize(@studio.errors.count, "error") %> prohibited change!</h5>
          <ul>
          <% @studio.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Name", required: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :location, placeholder: "Location", required: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, placeholder: "Phone", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :website_url, placeholder: "Website", class: "form-control" %>
          </div>
        </div>
      </div>

      <%= f.submit "submit", class: 'btn submit' %>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>
