<%= render 'layouts/navbar_edit' %>

<%= render 'form' %>

<div class="container my-5 text-center">
  <div class="row">
    <div class="col-12">
      <div class="form-group mt-3">
        <%= form_tag trainer_studios_url(@studio), method: :post do %>
          <%= select_tag 'trainer_id', options_from_collection_for_select(@trainers, 'id', "first_name") %>
          <%= hidden_field_tag "studio_id", @studio.id %>
          <%= submit_tag "Add", class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
