<%= render 'layouts/navbar' %>

<div class="container text-center">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col-12 mb-3">
      <h3><%= link_to "Create Studio", new_studio_path %></h3>
    </div>
    <% @studios.each do |s| %>
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card mb-3">
        <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= s.name %></h5>
            <p class="card-text"><%= s.location %></p>
            <p class="card-text"><%= s.phone %></p>
            <%= link_to "Profile", studio_url(s), class: "btn btn-primary" %>
            <%= link_to "Edit", edit_studio_url(s) %>
            <%= button_to "Delete", { action: "destroy", id: s.id },
              method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    <% end %>
  </div>
