<%= render 'layouts/navbar_edit' %>
<!-- < Add/Edit Studio Trainrs -->

<div class="container my-5">
  <div class="row mb-8">
    <div class="col-2"></div>
    <div class="col-8">
      <%= form_tag trainer_studios_url(@studio), method: :post do %>
        <%= select_tag 'trainer_id', options_from_collection_for_select(@trainers, 'id', "first_name") %>
        <%= hidden_field_tag "studio_id", @studio.id %>
        <%= submit_tag "Add", class:"btn btn-secondary" %>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <% @my.trainers.each do |trainr| %>
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row text-center card-my-trainr">
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-2">
            <%= link_to image_tag(trainr.img_url, class: "my-trainr-pic"), trainr.url %>
          </div>
          <div class="col-1"></div>
          <div class="col-5">
            <%= trainr.firstname %><%= trainr.lastname %>
            <br/><%= trainr.location %>
          </div>
          <div class="col-1"></div>
          <div class="col-1">
            <% if current_user.trainer %>
              <%= button_to "x", { action: "destroy", id: s.id },
                method: :delete, data: { confirm: "Are you sure?" },
                class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    <% end %>
  </div>
</div>
