<%= render 'layouts/navbar_studio_profile' %>

<div class="container text-center">
  <p class="text-primary mb-3"><%= flash[:notice] %></p>
  <p class="text-danger mb-3"><%= flash[:alert] %></p>

  <div class="row">
    <div class="col-12">
      <h1><%= @studio.name %></h1>
      <% if @studio.avatar.attachment.nil? %>
        <%= image_tag('milan.jpg', class:'round', height:'220', width:'320')%>
      <% else %>
        <%= image_tag @studio.avatar.service_url, class:'round mt-3 mb-3', height:'220', width:'320' %>
      <% end %>
      <p><%= @studio.location %></p>

      <!-- Show schedule times and days only if exist and gray out button if not -->
      <div class="buttons">
        <%= link_to image_tag('calendar.svg', class:'icon-link'), edit_studio_url(@studio) %>
      </div>

      <div class="color-bottom-border mt-3"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="">Instructors</h2>
    </div>

    <% if !@studio.trainer_studios.empty? %>
      <% @studio.trainer_studios.each_with_index do |trainer_studio| %>
        <% trainr = User.find(trainer_studio.trainer_id) %>

        <div class="col-4">
          <% if trainr.avatar.attachment.nil? %>
        	  <%= image_tag('user.svg', class: "profile-pic-md") %>
          <% else %>
            <%= image_tag(trainr.avatar.service_url, class: "profile-pic-md") %>
          <% end %>
          <p class=""><%= "#{trainr.first_name} #{trainr.last_name}" %></p>
          <%= form_tag trainer_studio_url(trainer_studio.id), method: :delete do %>
            <%= submit_tag 'Remove', class:'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="">No instructors found.</p>
      </div>
    <% end %>

    <div class="col-12">
      <div class="color-bottom-border mt-3"></div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-12">
      <% if !@studio.latitude.nil? && !@studio.longitude.nil? %>
        <p>
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:medium%7Ccolor:red%7C#{@studio.latitude},#{@studio.longitude}&key=#{ENV['GOOGLE_API_SERVER_KEY']}", alt: "Map" %>
        </p>
        <p>
          <%= @studio.location %>
        </p>
      <% end %>
    </div>
  </div>

  <% if current_user && current_user.role == 1 %>
  	<%= render 'layouts/footer_trainer' %>
  <% elsif current_user && current_user.role == 0 %>
  	<%= render 'layouts/footer_trainee' %>
  <% end %>
</div>
