<%= render 'layouts/navbar_studio_profile' %>

<div class="container text-center"><%= flash[:notice] %></div>

<div class="card-container">
  <h2><%= @studio.name %></h2>
  <p><%= @studio.location %></p>

  <!-- Show schedule times and days only if exist and gray out button if not -->
  <div class="buttons">
    <button class="primary">Studio Schedule</button>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-2"></div>
    <div class="col-2">
      <figure>
        <img src="http://placehold.it/100?text=IMG" alt="">
        <figcaption>Hello</figcaption>
      </figure>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
      <figure>
        <img src="http://placehold.it/100?text=IMG" alt="">
        <figcaption>Hello</figcaption>
      </figure>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
      <figure>
        <img src="http://placehold.it/100?text=IMG" alt="">
        <figcaption>Hello</figcaption>
      </figure>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-2"></div>
    <!-- for each of the elements in studio.trainr[x] (@studio.trainrs = trainr.limit(6)), display trainr card -->
    <% @studio.trainers.first(6).each_with_index do |trainr, i| %>
      <!-- <div class="col3"> -->
      <div class="col-2">
        <figure>
          <%= image_tag(trainr.img_url, class: "profile-pic-md") %>
          <figcaption>
            <%= trainr.firstname %><br/>
            <%= trainr.lastname %>
          </figcaption>
        </figure>
      </div>
      <% if i == 3 %>
        <div class="col-2"></div>
        </div><div class="row text-center">
        <div class="col-2"></div>
      <% else if i != 6 %>
        <div class="col-1"></div>
      <% end %>
      <!-- </div> -->
    <% end %>
    <div class="col-2"></div>
  </div>
  <div class="buttons">
    <button class="secondary">show more</button>
  </div>
</div>

<div class="card-container">
  <p> Loading ... </p>
  //load map
  <p> Could not find your location on the map, please send us an email so we can add it </p>
</div>

<% if current_user && current_user.role == 1 %>
	<%= render 'layouts/footer_trainer' %>
<% else %>
	<%= render 'layouts/footer_trainee' %>
<% end %>
