<nav class="navbar navbar-light bg-light fixed-bottom pt-4" id="trainer-footer">
  <div class="container">
    <%= link_to users_url, class: "footer-link" do %>
      <%= image_tag("search.svg", width: "32", height: "32") %>
      <p class="mt-1">Search</p>
    <% end %>
    <%= link_to my_trainers_url(current_user), class: "footer-link" do %>
      <%= image_tag("speed.svg", width: "32", height: "32") %>
      <p class="mt-1">My Trainrs</p>
    <% end %>
    <%= link_to new_event_url, class: "footer-link" do %>
      <%= image_tag("plus.svg", width: "32", height: "32") %>
      <p class="mt-1">New Class</p>
    <% end %>
    <%= link_to user_events_url(current_user), class: "footer-link" do %>
      <%= image_tag("calendar.svg", width: "32", height: "32") %>
      <p class="mt-1">My Schedule</p>
    <% end %>
    <%= link_to user_url(current_user), class: "footer-link" do %>
      <%= image_tag("finger-print.svg", width: "32", height: "32") %>
      <p class="mt-1">Trainr.bio</p>
    <% end %>
  </div>
</nav>
