<div class="bg-light fixed-bottom" id="trainer-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to home_url, class: "footer-link" do %>
          <%= image_tag("home.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">Home</p>
        <% end %>
      </div>
      <div class="col">
        <%= link_to new_event_url, class: "footer-link" do %>
          <%= image_tag("plus.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">Session</p>
        <% end %>
      </div>
      <div class="col">
        <%= link_to user_events_url(current_user), class: "footer-link" do %>
          <%= image_tag("calendar.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">Schedule</p>
        <% end %>
      </div>
      <div class="col">
        <%= link_to user_profile_url(current_user), class: "footer-link" do %>
          <%= image_tag("finger-print.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">mvmt.bio</p>
        <% end %>
      </div>
      <% if current_user && current_user.role == 8 %>
        <div class="col">
          <%= link_to admin_url, class: "footer-link" do %>
            <%= image_tag("gear.svg", width: "18", height: "18") %>
            <p class="mt-1 mb-1">Admin</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
