<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/">trainr</a>
    <%= form_tag(users_url, method: "get", id: "search", class:"form-inline my-2 my-lg-0 ml-auto") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name", required: true, class: "form-control mr-sm-2", style: "width: 350px;" %>
      <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    <% if current_user %>
      <ul class="navbar-nav ml-auto">
        <li class="dropdown">
          <a class="" href="#" data-toggle="dropdown">
            <%= image_tag('user.svg', height:'32', width:'32')%>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item">
              <%= link_to "Studios", studios_url, class: "nav-link" %>
            </li>
            <li class="dropdown-item">
              <%= link_to "Profile", user_url(current_user), class: "nav-link" %>
            </li>
            <li class="dropdown-item">
              <%= link_to "Settings", edit_user_url(current_user), class: "nav-link" %>
            </li>
            <!-- <li class="dropdown-item">
              <%# <%= link_to "Log Out", :logout, class: "nav-link" %> %>
            </li> -->
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", :login, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
  <!-- </div> -->
</nav>
